<%= form_with(model: data_url, local: true) do |form| %>
  <% if data_url.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h5><%= pluralize(data_url.errors.count, "error") %> prohibited this data url from being saved:</h5>
      <ul>
        <% data_url.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group ml-3 mr-3">
    <%= form.label :source_name, class: "font-weight-bold" %>
    <%= form.text_field :source_name, class: "form-control" %>
  </div>
  <div class="form-group ml-3 mr-3">
    <%= form.label :source_url, class: "font-weight-bold" %>
    <%= form.text_field :source_url, class: "form-control" %>
  </div>
  <div class="form-group ml-3 mr-3">
    <%= form.label :data_type, class: "font-weight-bold" %>
    <%= form.text_field :data_type, class: "form-control" %>
  </div>
  <div class="form-group ml-3 mr-3">
    <%= form.label :description, class: "font-weight-bold" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div class="btn-group ml-3" role="group" aria-label="Pandemic New">
    <%= form.submit class: "btn btn-primary", role: "button" %>
<% end %>
