<% if flash[:notice] %>
<div class="alert alert-success" role="alert""><%= notice %></div>
<% end %>

<p class="ml-3"><%= link_to "New Data url", new_data_url_url, class: "btn btn-primary", role: "button" %></p>
<div class="dropdown-divider"></div>
<div class="card-columns m-3">

<% @data_urls.each do |data_url| %>
<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title"><%= link_to data_url.source_name, data_url_path(data_url) %></h5>
    <p class="card-text"><%= data_url.source_url %></p>
    <p class="card-text"><%= data_url.data_type %></p>
    <p class="card-text"><%= data_url.description %></p>
    <div class="card-footer">
      <small class="text-muted">Added on: <%= data_url.created_at.to_date %></small>
    </div>
  </div>
</div>
<% end %>
