<div class="row">
  <div class="col-sm">
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert""><%= notice %></div>
    <% end %>
    <h3 class="pt-2 pl-3"><%= @data_url.source_name %></h3>
    <div class="dropdown-divider"></div>
    <p class="text-justify pl-3 pr-3"><%= @data_url.source_url %></p>
    <p class="text-justify pl-3 pr-3"><%= @data_url.data_type %></p>
    <% if @data_url.description.present? %>
      <p class="text-justify pl-3 pr-3"><%= @data_url.description %></p>
    <% end %>
    <div class="dropdown-divider"></div>
    <div class="form-row w-25 ml-2">
      <div class="col">
        <%= link_to "Edit", edit_pandemic_data_url_path(@pandemic, @data_url), class: "form-control btn btn-primary" %>
      </div>
      <div class="col">
        <%= link_to "Add Url", new_pandemic_data_url_path(@pandemic), class: "form-control btn btn-primary" %>
      </div>
      <div class="col">
        <%= link_to 'Pandemic', pandemic_path(@pandemic), class: "form-control btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
