<%= form_with(model: pandemic, local: true) do |form| %>
  <% if pandemic.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h5><%= pluralize(pandemic.errors.count, "error") %> prohibited this pandemic from being saved:</h5>
      <ul>
        <% pandemic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group ml-3 mr-3">
    <%= form.label :name, class: "font-weight-bold" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group ml-3 mr-3">
    <%= form.label :description, class: "font-weight-bold" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div class="py-2 mx-3 mb-3 bg-light">
    <div class="row px-2">
      <%= form.collection_check_boxes :data_url_ids, @data_urls, :id, :source_name, checked: @pandemic.data_url_ids.map(&:to_param) do |c| %>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
          <div class="form-check">
            <%= c.check_box %>
            <%= c.label class: "ml-1" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="btn-group ml-3" role="group" aria-label="Pandemic New">
    <%= form.submit class: "btn btn-primary", role: "button" %>
  <% end %>
