<% if flash[:notice] %>
  <div class="alert alert-success" role="alert""><%= notice %></div>
<% end %>

<% @pandemics.each do |pandemic| %>
  <div class="card-group">
    <div class="card bg-light m-2">
      <div class="card-body">
        <h5 class="card-title"><%= pandemic.name %></h5>
        <p class="card-text"><%= pandemic.description %></p>
        <ul class="nav justify-content-left mb-2">
          <li class="nav-item">
            <%= link_to 'Show', pandemic, class: "badge badge-info" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit', edit_pandemic_path(pandemic), class: "badge badge-warning ml-2" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Destroy', pandemic, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge badge-danger ml-2" %>
          </li>
        </ul>
        <div class="card-footer">
          <small class="text-muted">Added on: <%= pandemic.created_at.to_date %></small>
        </div>
      </div>
    </div>
  </div>
<% end %>

<p class="ml-2"><%= link_to 'New Pandemic', new_pandemic_path, class: "btn btn-primary", role: "button" %></p>
