<% if flash[:notice] %>
<div class="alert alert-success" role="alert""><%= notice %></div>
<% end %>

<p class=" ml-3 mt-3"><%= link_to 'New Pandemic', new_pandemic_path, class: "btn btn-primary", role: "button" %></p>
  <div class="dropdown-divider"></div>
  <div class="card-columns m-3">

    <% @pandemics.each do |pandemic| %>
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title"><%= pandemic.name %></h5>
        <div class="dropdown-divider"></div>
        <p class="card-text"><%= pandemic.description %></p>

        <ul class="nav justify-content-left mb-2">
          <li class="nav-item">
            <%= link_to 'Show', pandemic, class: "badge badge-secondary" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit', edit_pandemic_path(pandemic), class: "badge badge-secondary ml-2" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Destroy', pandemic, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge badge-secondary ml-2" %>
          </li>
        </ul>

        <div class="card-footer">
          <small class="text-muted">Added on: <%= pandemic.created_at.to_date %></small>
        </div>
      </div>
    </div>
    <% end %>
  </div>