<div class="row">
  <div class="col-sm">
    <% if flash[:notice] %>
    <div class="alert alert-success" role="alert""><%= notice %></div>
    <% end %>

    <h3 class=" pt-2 pl-3"><%= @pandemic.name %></h3>
      <div class="dropdown-divider"></div>
      <p class="text-justify pl-3 pr-3"><%= @pandemic.description %></p>
      <div class="dropdown-divider"></div>
      <div class="btn-group ml-3" role="group" aria-label="Pandemic Controls">
        <%= link_to 'Add Data Url', edit_pandemic_path(@pandemic), class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_pandemic_path(@pandemic), class: "btn btn-primary" %>
        <%= link_to 'Destroy', @pandemic, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        <%= link_to 'Index', pandemics_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
